1_prep_env/images/*.tar*
7_spring_demo/.classpath
7_spring_demo/.project
7_spring_demo/.settings
7_spring_demo/target/*
demo-jenkins/.classpath
demo-jenkins/.project
demo-jenkins/.settings
demo-jenkins/target/*
