# CONNECTED:false -> scripts assume no internet connectivity
export CONNECTED=false

# CONJUR_SIMPLE_CLUSTER: true -> deploys single master, no standbys or load balancer
export CONJUR_SIMPLE_CLUSTER=false

# PLATFORM: kubernetes or openshift
export PLATFORM=openshift
if [ $PLATFORM = 'kubernetes' ]; then
  source kubernetes.config
elif [ $PLATFORM = 'openshift' ]; then
  source openshift.config
else
  echo "$PLATFORM is not a supported platform"
  exit 1
fi
 
############################################################
#              Conjur Master Cluster settings
############################################################
export CONJUR_VERSION=5
export CONJUR_APPLIANCE_IMAGE=conjur-appliance:5.2.3
export CLI_IMAGE_NAME=cyberark/conjur-cli:5-latest
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_PASSWORD=Cyberark1
export CONJUR_MASTER_CONTAINER_NAME=conjur1
export CONJUR_STANDBY1_NAME=conjur2
export CONJUR_STANDBY2_NAME=conjur3
export CLI_CONTAINER_NAME=conjur-cli
############################################################
#                  Conjur Network Settings
############################################################
# True == assume no DNS support - use /etc/hosts
export NO_DNS=true
# docker network name for conjur master cluster
export CONJUR_NETWORK=conjurnetwork
export CONJUR_MASTER_HOST_NAME=conjur-master
if [[ $PLATFORM == "openshift" ]]; then
  export CONJUR_MASTER_HOST_IP=$(minishift ip)
else
  export CONJUR_MASTER_HOST_IP=$(minikube ip)
fi
# Master port is for single master or load balancer configuration
export CONJUR_MASTER_PORT=30443
# Follower port is for Follower running outside of orchestration
export CONJUR_FOLLOWER_PORT=1443
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=1999
# location to cache seed file for Follower configuration
export FOLLOWER_SEED_PATH=/Users/josephhunt/Conjur/oshift-haxmstr/etc/follower-seed.tar
# CONJUR_MASTER_HOST is used to initialize CLI connections
export CONJUR_MASTER_HOST=$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
# Cert altnames for Conjur node-to-node TLS authentication
export MASTER_ALTNAMES="localhost,$CONJUR_MASTER_HOSTNAME"
export FOLLOWER_ALTNAMES="conjur-follower,conjur-follower.$CONJUR_NAMESPACE_NAME.svc.cluster.local"
