# use: "minikube get-k8s-versions" to see list of supported versions
# use: "kubectl version" to see installed version (Server GitVersion)
# visit: https://github.com/kubernetes/kubernetes/tags
# to see versions w/ downloadable artifacts (e.g. images)
export KUBECONFIG=~/k8s-kube/config
export KUBERNETES_VERSION=v1.10.0
export MINIKUBE_VM_MEMORY=6144
export MINIKUBE=true
if [[ "$(minikube status | grep Running)" != "" ]]; then
  eval $(minikube docker-env)
  export DOCKER_REGISTRY_URL=$(minikube ip):5000
fi
