############################################################
# OPENSHIFT CONFIG 
############################################################
export PLATFORM=openshift
export TEST_APP_NAMESPACE_NAME=cme-dev
export DOCKER_REGISTRY_PATH=172.30.1.1:5000
export OSHIFT_CLUSTER_ADMIN_USERNAME=system:admin
export OSHIFT_CONJUR_ADMIN_USERNAME=developer
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export CONJUR_NAMESPACE_NAME=conjur
export AUTHENTICATOR_ID=dev
export CONJUR_FOLLOWER_COUNT=1
#######
# for minishift deployments
# use "minishift openshift version list" to see supported versions
# use: "minishift openshift version" to see installed version
export MINIKUBE=false
export KUBECONFIG=~/oc-kube/config
export OPENSHIFT_VERSION=v3.9.0
export MINISHIFT_VM_MEMORY=6GB
if [[ "$(minishift status | grep Running)" != "" ]]; then
  eval $(minishift oc-env)
  eval $(minishift docker-env)
  export DOCKER_REGISTRY_PATH=$(minishift openshift registry)
fi

