## Run Master cluster in AWS docker daemon
export NO_DNS=false
export CONJUR_MASTER_HOST_NAME=ec2-54-152-144-149.compute-1.amazonaws.com
export CONJUR_MASTER_HOST_IP=54.152.144.149
export CONJUR_MASTER_PORT=443
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=5433
export CONJUR_MASTER_HOST_ADMIN=ec2-user
export CONJUR_MASTER_SSH_KEY=~/.aws/jody-k8s.pem
