## Run Master cluster in Localhost docker daemon
export NO_DNS=true
# Be sure add an entry in /etc/hosts for CONJUR_MASTER_HOST_NAME
export CONJUR_MASTER_HOST_NAME=conjur_master
export CONJUR_MASTER_HOST_IP=$(ifconfig en0 | grep "inet " | awk '{print $2}')
export CONJUR_MASTER_PORT=443
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=5433
