############################################################
# Don't change the CONJUR_APPLIANCE_IMAGE value - scripts depend on it
############################################################
export CONJUR_APPLIANCE_IMAGE=conjur-appliance:4.9-stable
export CONJUR_VERSION=4
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_PASSWORD=Cyberark1
export CONJUR_MASTER_CONTAINER_NAME=conjur1
export CONJUR_STANDBY1_NAME=conjur2
export CONJUR_STANDBY2_NAME=conjur3
export CLI_CONTAINER_NAME=conjur-cli
export CLI_IMAGE_NAME=cyberark/conjur-cli:4-latest
export CONJUR_PROJECT_NAME=conjur
###############

############################################################
#                    Conjur master network settings
#
# CONJUR_MASTER_HOST_NAME is the public DNS name for CONJUR_MASTER_HOST_IP 
############################################################
# uncomment ONLY ONE of the following to set Conjur master network settings
#. ./_conjur-aws.config
#. ./_conjur-local-master-cluster.config
. ./_conjur-minishift.config

# CONJUR_MASTER_HOST is used to initialize CLI connections
export CONJUR_MASTER_HOST=$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
## Cert altnames for Conjur node-to-node TLS authentication
export MASTER_ALTNAMES="localhost,$CONJUR_MASTER_HOSTNAME"
export FOLLOWER_ALTNAMES="conjur-follower,conjur-follower.$CONJUR_PROJECT_NAME.svc.cluster.local"

