###############
# for minishift deployments
# use "minishift openshift version list" to see supported versions
# use: "minishift openshift version" to see installed version
# visit: https://github.com/openshift/origin/tags
# to see versions with downloadable artifacts (e.g. images)
export OPENSHIFT_VERSION=v3.9.0
export MINISHIFT_VM_MEMORY=8092
if [[ "$(minishift status | grep Running)" != "" ]]; then
  eval $(minishift oc-env)
fi
